apiVersion: apps/v1
kind: Deployment
metadata:
  name: bookstore-api
  namespace: bookstore
  labels:
    app: bookstore-api
    tier: api
spec:
  replicas: 3
  selector:
    matchLabels:
      app: bookstore-api
      tier: api
  template:
    metadata:
      labels:
        app: bookstore-api
        tier: api
    spec:
      containers:
        - name: bookstore
          image: aluahub/book-service
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: bookstore-config
          env:
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: bookstore-secrets
                  key: postgres-username
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: bookstore-secrets
                  key: postgres-password
            - name: SPRING_DATA_REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: bookstore-secrets
                  key: redis-password
          resources:
            requests:
              cpu: 200m
              memory: 512Mi
            limits:
              cpu: 600m
              memory: 1Gi

---
apiVersion: v1
kind: Service
metadata:
  name: bookstore-api
  namespace: bookstore
  labels:
    app: bookstore-api
    tier: api
spec:
  type: NodePort
  selector:
    app: bookstore-api
    tier: api
  ports:
    - name: http
      port: 80
      targetPort: 8000
      nodePort: 30080
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: bookstore-api-hpa
  namespace: bookstore
  labels:
    app: bookstore-api
    tier: api
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: bookstore-api
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 70
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: bookstore-api-pdb
  namespace: bookstore
  labels:
    app: bookstore-api
    tier: api
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: bookstore-api
      tier: api
